.cont-list {
    width: 1280px;
    height: 80vh;
    border: 1px solid rebeccapurple;
    padding: 20px;
    margin: 10px auto;
    display: flex;
}

.cont-highlighted {
    width: 50vh;
    border: 1px solid pink;
    margin: 0 120px;
    padding: 10px;
}

.cont-card {
    padding: 5px;
    margin: 10px;
    border: 1px solid green;
    width: 40vh;
}

.card-title {
    font-size: 1.1em;
    display: block;
}

.card-desc {
    display: block;
}